<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>NLP-SPACY</title>
</head>
<body>
    <h1>Natural Language Processing!</h1>
    <p>Enter some text to process with Spacy!</p>
    <form id="form">
        <input type="textarea">
        <button>PROCESS</button>
    </form>
    <script src="/static/js/index.js"></script>
</body>
</html>