<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>NLP-SPACY</title>
</head>
<body>
    <h1>Natural Language Processing!</h1>
    <p>You would like to buy a plane ticket. 
        Declare your intention to buy a plane ticket into the input 
        and see if we can figure out what the heck you're talkin' about!</p>
    <form id="form">
        <input type="textarea">
        <button>PROCESS</button>
    </form>
    <div id="response"></div>
    <table id="table"></table>
    <script src="/static/js/index.js"></script>
</body>
</html>